.nav {
  display: flex;
  color: white;
  overflow-x: scroll;
  word-wrap: normal;
  padding-left: 20px;
  padding-bottom: 15px;
}

/*To hide scroll bar Chrome*/
.nav::-webkit-scrollbar {
  display: none;
}

/*To hide scrollbar in IE,Firefox*/
.nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav > h2 {
  font-size: large;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 20px;
  font-weight: 500;
  opacity: 0.7;
  transition: transform 50ms ease-out;
}

.nav > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}
